<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="My Parallel Suite" parallel="methods" thread-count="8">
    <test name="SwagLabs Tests">
        <classes>
            <class name="com.swaglabs.TC1_LoginTest" />
            <class name="com.swaglabs.TC2_ProductsTest" />
            <class name="com.swaglabs.TC3_CartTest" />
            <class name="com.swaglabs.TC4_CheckTest" />
            <class name="com.swaglabs.TC5_OverviewTest" />
            <class name="com.swaglabs.TC6_CompleteTest" />
        </classes>
    </test>
</suite>